.git
.github
node_modules
.nuxt
.output
dist
README.md
Dockerfile
.dockerignore

.env
.env.*
*.local
/config.local.yaml

.DS_Store
Thumbs.db

.idea
.vscode
*.swp
*.swo
*~

Dockerfile
.dockerignore
docker-compose*
