@plugin "@tailwindcss/typography";

@theme {
  --color-md: var(--md-color);
  --color-md-hover: var(--md-hover-color);
  --color-md-bk: var(--md-bk-color);
  --color-md-bk-outstand: var(--md-bk-color-outstand);
  --color-md-bk-hover: var(--md-bk-hover-color);

  /* 边框颜色 */
  --color-md-border: var(--md-border-color);
  --color-md-border-hover: var(--md-border-hover-color);
  --color-md-border-active: var(--md-border-active-color);

  /* 遮罩与阴影 */
  --color-md-modal-mask: var(--md-modal-mask);
  --color-md-modal-shadow: var(--md-modal-shadow);

  /* 滚动条 */
  --color-md-scrollbar-bg: var(--md-scrollbar-bg-color);
  --color-md-scrollbar-thumb: var(--md-scrollbar-thumb-color);
  --color-md-scrollbar-thumb-hover: var(--md-scrollbar-thumb-hover-color);
  --color-md-scrollbar-thumb-active: var(--md-scrollbar-thumb-active-color);
}

:root {
  /* 来自 https://github.com/imzbf/md-editor-v3/blob/develop/packages/MdEditor/styles/vars.scss */
  --md-color: #3f4a54;
  --md-hover-color: #000;
  --md-bk-color: #fff;
  --md-bk-color-outstand: #f2f2f2;
  --md-bk-hover-color: #f5f7fa;
  --md-border-color: #e6e6e6;
  --md-border-hover-color: #b9b9b9;
  --md-border-active-color: #999;

  --md-modal-mask: #00000073;
  --md-modal-shadow: 0px 6px 24px 2px #00000019;

  --md-scrollbar-bg-color: #e2e2e2;
  --md-scrollbar-thumb-color: #0000004d;
  --md-scrollbar-thumb-hover-color: #00000059;
  --md-scrollbar-thumb-active-color: #00000061;
}
[data-theme='dark'] {
  --md-color: #999;
  --md-hover-color: #bbb;
  --md-bk-color: #000;
  --md-bk-color-outstand: #333;
  --md-bk-hover-color: #1b1a1a;
  --md-border-color: #2d2d2d;
  --md-border-hover-color: #636262;
  --md-border-active-color: #777;

  /* 遮罩在暗色下保持一致，所以这里无需重复定义 --md-modal-mask */
  --md-modal-shadow: 0px 6px 24px 2px #00000066;

  --md-scrollbar-bg-color: #0f0f0f;
  --md-scrollbar-thumb-color: #2d2d2d;
  --md-scrollbar-thumb-hover-color: #3a3a3a;
  --md-scrollbar-thumb-active-color: #3a3a3a;
}
